body{
    padding: 0;
    margin:0;
    min-height: 100%;
}

.container{
    display:grid;
    grid-template-rows: 1fr 4.5fr;
    grid-template-columns: 1fr 4fr 1.3fr;
    height: 100vh;
}

.header{
    padding: 15px 40px 15px 40px;
    display:grid;
    background-color: white;
    grid-area: 1 / 2 / 2 / 4;
    color:black;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1.2fr;
    align-items: center;
    border-bottom: 3px solid rgba(0,0,0,0.5);
}
.header-info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    gap: 20px;
}
i{
    padding-right:15px;
}
.search-bar{
    width:clamp(200px,80%,800px);
    border-radius: 20px;
    height: 2rem;
    border:none;
    background-color: #71717a;
}

.white{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(160deg) brightness(115%) contrast(104%);
}
.black{
    filter: invert(0%) sepia(6%) saturate(25%) hue-rotate(267deg) brightness(106%) contrast(106%);
}

.header-buttons{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:35px;
}

.sidebar{
    background-color: #0369a1;
    grid-area: 1 / 1 / 3 / 2;
    color:white;
    text-align:left;
}
.dashboard-logo{
    width:40px;
    height:40px;
}

.option-logo{
    width:32px;
    height: 32px;
    vertical-align: middle;
}
.text{
    display:inline-block;
}

.text-header{
    display:inline-block;
    vertical-align: top;
}

.text, .text-header{
    padding-left: 15px;
}

.sidebar .menu-option,
.sidebar .menu-header{
    padding-left: 25px;
    padding-top: 15px;
}

.sidebar .menu-header{
    font-size: 35px;
}

.sidebar .menu-option{
    font-size: 20px;
}

.dashboard{
    margin-top: 5px;
    margin-bottom: 60px;
}

.sidebar .menu{
    margin-bottom: 60px;
}

.content{
    background-color:#64748b;
    grid-area: 2 / 2 / 3 / 3;
    padding: 25px 15px 15px 15px;
}
.content-header{
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 600;
}

.content-projects{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-template-rows: minmax(150px,1fr);
    gap: 20px;
}

.project{
    position:relative;
}
.project-options{
    text-align:right;
    position: absolute;
    bottom: 0;
    right: 0;
    padding:30px;
    display:flex;
    gap:40px;
}
.icon{
    width: 60px;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}
.icon:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
.icon2{
    width:100px;
    height: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    grid-area: 1/1/3/2;
}

.header-greetings{
    display:grid;
    grid-template-columns:120px 350px;
    grid-template-rows:50px 50px;
    align-items:top;
}

.greetings-msg{
    padding-top:20px;
    font-weight: 800;
    font-size: 20px;
}
.greetings-username{
    font-size: 26px;
    font-weight: 800;
}
h2{
    padding:0 0 5px 0 ;
    margin:0;
}

.content .project{
    background-color: white;
    border-radius: 5px;
    border-left:9px solid #d97706;
    padding: 15px;
    font-size: 19px;
    display:grid;
    grid-template-rows:1.5fr 1fr;
}

.announcements{
    background-color:#64748b;
    grid-area: 2 / 3 / 3 / 4;
    padding: 25px 25px 15px 15px;
}

.announcements-field{
    margin-bottom: 40px;
    background-color: white;
    display:grid;
    padding: 35px;
    gap: 25px;
}

.announcement-message .subheader{
    font-weight: 600;
}
.announcement-message .subtext{
    font-size:15px;
}

.trending-field{
    background-color:white;
    display:grid;
    padding: 25px;
    gap: 15px;
}

.trending-tag{
    font-weight: 700;
}


.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
